.arrow-to-left, .arrow-to-right {
  cursor: pointer;
}

.arrow-to-left {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.arrow {
  width: calc(360px + 440 * (100vw - 390px) / 1050);
  height: calc(210px + 590 * (100vw - 390px) / 1050);
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 560px) {
  .arrows {
    width: calc(360px + 440 * (100vw - 390px) / 1050);
  }

  .arrow-to-left, .arrow-to-right {
    padding-right: 11px;
  }
}
@media (max-width: 390px) {
  .arrows {
    width: calc(360px + 440 * (100vw - 390px) / 1050);
  }
}