.arrow-to-left {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  opacity: 0.8;
  cursor: pointer;
  border: 2px solid red;
}

.arrow-to-right {
  opacity: 0.8;
  cursor: pointer;
  border: 2px solid green;
}

.arrow {
  width: calc(360px + 440 * (100vw - 390px) / 1050);
  height: calc(210px + 590 * (100vw - 390px) / 1050);
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}