.arrow-hover {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
}
.arrow-hover div {
    position: relative;
    top: 20px;
    width: max(6.25vw, 45px);
    height: 10px;
    background-color: #ff7f508f;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-hover div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #ff7f508f;
    transform: rotate(45deg);
}
.arrow-hover div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #ff7f508f;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-hover:hover {
    animation: arrow-hover 1s linear infinite;
}
@keyframes arrow-hover {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}

.arrow-to-left{
    transform: scale(-1, 1); 
    opacity: 0.8;
    cursor: pointer;
    border: 2px solid red;
}
.arrow-to-right{
    opacity: 0.8;
    cursor: pointer;
    border: 2px solid green;
}

.arrow{
    width: calc(360px + (800 - 360) * (100vw - 390px) / (1440 - 390));
    height: calc(210px + (800 - 210) * (100vw - 390px) / (1440 - 390));
}
.arrows{
    display: flex;
    justify-content: center;
    gap: 60px;
    position: absolute;
    transition: 1s;
}
