* {
    padding: 0;
    margin: 0;
}

.destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}
.destinations-title {
    text-transform: uppercase;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: calc(14px + (40 - 14) * (100vw - 390px) / (1440 - 390));
    line-height: calc(18.5px + (53 - 18.5) * (100vw - 390px) / (1440 - 390));

    color: #F2785C;
    margin-bottom: calc(20px + (46 - 20) * (100vw - 390px) / (1440 - 390));
}
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slider-line {
    display: flex;
    justify-content: center;
    gap: 60px;
    position: relative;
    left: 0;
    transition: 1s;
}
.slide {
    position: relative;
}
.slide-image {
    border-radius: 16px;
    width: calc(360px + (800 - 360) * (100vw - 390px) / (1440 - 390));
    height: calc(210px + (800 - 210) * (100vw - 390px) / (1440 - 390));
}
.slide-title {
    position: absolute;
    left: 15px;
    bottom: 40px;
    letter-spacing: 2.5px;
    text-transform: uppercase;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-size: calc(20px + (32 - 20) * (100vw - 390px) / (1440 - 390));

    color: #FFFFFF;
}

.dots {
    display: flex;
    gap:10px;
    margin-top: 24px;
}
.dot {
    background-color: #F2785C;
    opacity: 0.5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 1s;
}
.dot:hover {
    background-color: #ffb000;
    cursor: pointer;
}
.dot-active {
    opacity: 1;
} 

.slider-btn {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: calc(11px + (24 - 11) * (100vw - 390px) / (1440 - 390));
    line-height: calc(15px + (32 - 15) * (100vw -390px) / (1440 - 390));
    background-color: #0D606F;

    border:none;
    color: #FFFFFF;

    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    display: flex;
    align-items: center;
  
    padding-top: calc(7.5px + (13.5 - 7.5) * (100vw - 390px) / (1440 - 390));
    padding-right: calc(12px + (31 - 12) * (100vw - 390px) / (1440 - 390));
    padding-bottom: calc(7.5px + (13.5 - 7.5) * (100vw - 390px) / (1440 - 390));
    padding-left: calc(12.6px + (33.5 - 12.6) * (100vw - 390px) / (1440 - 390));

    margin-top: calc(10px + (40 - 10) * (100vw - 390px) / (1440 - 390));
}

.slider-btn-arrow {
    width: calc(8.75px + (35 - 8.75) * (100vw - 390px) / (1440 - 390));
    height: calc(5.63px + (22.5 - 5.6) * (100vw - 390px) / (1440 - 390));
    padding-right: calc(6.6px + (12.5 - 6.6) * (100vw - 390px) / (1440 - 390));
}
.slider-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}