@mixin adaptiveProp($targetProp, $minWidth, $maxWidth, $adaptiveViewport)
    #{$targetProp}: calc(($minWidth * 1px) + ($maxWidth - $minWidth) * (100vw - ($adaptiveViewport * 1px)) / (1440 - $adaptiveViewport))


.arrow-to-left, .arrow-to-right
    cursor: pointer
.arrow-to-left
    transform: scale(-1, 1) 

.arrow
    @include adaptiveProp('width', 360, 800, 390)
    @include adaptiveProp('height', 210, 800, 390)

.arrows
    display: flex
    justify-content: center
    gap: 60px
    position: absolute
    transition: 1s


@media (max-width: 560px)
    .arrows
        @include adaptiveProp('width', 360, 800, 390)
    .arrow-to-left, .arrow-to-right
        padding-right: 11px

@media (max-width: 390px)
    .arrows
        @include adaptiveProp('width', 360, 800, 390)